.SearchBar{
    width: 100%;
    height: 30vh;
    text-align: center;
    background-image: url('../../assets/clouds.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.SearchBar input{
    border: none;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}

.SearchBar input:focus{
    outline: 0;
}

.SearchBar .SearchBarChildren{
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.SearchBar .SearchBarChildren span{
    display: block;
    color: black;
}
.SearchBar .SearchBarChildren input{
    display: block;
    background-color: #ffffff;
    opacity: 0.8;
}
.SearchBar .SearchBarChildren button{
    display: block;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(128, 128, 128, 0.1) inset;
}
.SearchBar .SearchBarChildren button:hover{
    cursor: pointer;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.SearchBar .SearchBarChildren .formSearchCity{
    display: flex;
}

@media(min-width:1399px){
    .SearchBar{
        width: 30%;
        height: 100vh;
    }
}